{% extends 'base.html' %}
{% block title %}HmzH{% endblock %}
{% block additional_styles %}
<style>
        @import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");

       .tech-stack {
           display: flex;
           flex-wrap: wrap;
           gap: 8px;
       }
       .badge {
           display: inline-flex;
           align-items: center;
           justify-content: center;
           align-items-center;
           color: white;
           text-decoration: none;
           text-align: center;
       }
       ol {
        width: min(60rem, 90%);
        margin-inline: auto;

        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        list-style: none;
        counter-reset: cardnr;
        justify-content: center;
       }

    .cards-list li {

      --inlineP: 0.5rem;
      --borderR: 4rem;

      counter-increment: cardnr;
      width: calc(10em - 0.5rem * 2);
      display: grid;
      grid-template:
        "icon" var(--borderR)
        "title"
        "descr" 1fr;
      margin-inline: var(--inlineP);
      margin-bottom: calc(var(--borderR));
      position: relative;
    }
    .cards-list li .icon,
    .cards-list li .title,
    .cards-list li .descr {
      background: white;
      padding-inline: 1rem;
      padding-bottom: 1rem;
    }
    .cards-list li .icon,
    .cards-list li .title {
      color: var(--accent-color);
      text-align: center;
      padding-bottom: 0.5rem;
    }

    .cards-list li .title,
    .cards-list li .descr {
      filter: drop-shadow(0.125rem 0.125rem 0.075rem rgba(0, 0, 0, 0.25));
    }
    .cards-list li .icon {
      grid-area: icon;
      font-size: 2rem;
      display: grid;
      place-items: center;
      border-radius: var(--borderR) 0 0 0;
      position: relative;
    }

    .cards-list li .title {
      grid-area: title;
      font-size: 1.1rem;
      font-weight: bold;
    }

    .cards-list li .descr {
      grid-area: descr;
      font-size: 0.85rem;
      text-align: center;
    }
    .cards-list li .descr::before {
      content: "";
      width: 2rem;
      height: 1.5rem;
      position: absolute;
      right: 1.5rem;
      top: 100%;
      background: inherit;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
    }

    .cards-list li::after {
      content: counter(cardnr, decimal-leading-zero);
      position: absolute;
      z-index: -1;

      left: calc(var(--inlineP) * -1);
      right: calc(var(--inlineP) * -1);
      top: var(--borderR);
      bottom: calc(var(--borderR) * -1);

      display: flex;
      align-items: flex-end;
      background: var(--accent-color);
      background-image: linear-gradient(
        160deg,
        rgba(255, 255, 255, 0.25),
        transparent 25% 75%,
        rgba(0, 0, 0, 0.25)
      );
      border-radius: 0 0 var(--borderR) 0;


      padding: 1rem;
      font-size: calc(var(--borderR) - 1rem * 2);
      color: white;
    }
    .cards-list li::before {
      content: "";
      position: absolute;
      height: var(--borderR);
      top: calc(100% + var(--borderR) - 2px);
      left: calc(var(--inlineP) * -1);
      right: calc(var(--inlineP) * -1);
      border-radius: 0 var(--borderR) 0 0;

      background-image: linear-gradient(var(--accent-color), transparent 60%);
      opacity: 0.5;
      filter: blur(2px);
    }


</style>
{% endblock %}

{% block main %}
<main class="main_about_me">

        <div class="main-content container w-100">
            <div class="container h-100 m-5 p-5">
                <div class="intro text-center justify-content-center">
                    <h1 class="display-1 light-special-color big-header">I'm Hmzh.</h1>
<!--                    <h4 class="special-color2">Developer and Photographer.</h4>-->
                </div> <!-- End of Introduction -->

                <div class="pt-5 align-items-center">
                    <div class="row  gap-1 special-color2 text-center pt-3">
                        <a class="col h4 text-decoration-none" href="#about_me">About Me</a>
                        <a class="col h4 text-decoration-none" href="#skills">Skills</a>
                        <a class="col h4 text-decoration-none" href="#tech-stack">Technical Stack</a>
                        <a class="col h4 text-decoration-none" href="#contact">Contact Me</a>
                    </div>

                </div> <!-- nav -->
            </div>
            <div id="about_me" class="ps-5 ms-5 mt-5 pt-5">
                <h1 class="light-special-color display-2 big-header">About me</h1>
                <hr class="special-color2" style="width:280px">
                <h4 class="special-color2 pt-3">My name is Hamzh Dabbah, graduated from king abdulaziz university, Faculty of Computing and Information Technology,
                    majored in Information Technology, specialized Software Engineering, I'm Skilled in Java and python, in addition to SQL DB and web design.
                    I am interested in photography, and using Editing tools such as Lightroom and Photoshop. I have been working on several projects and applications,
                    I participated in developing <a class="text-decoration-none special-color" href="/projects/project/9/details">"BreachyApp"</a> and <a class="text-decoration-none special-color" href="/projects/project/10/details">"EcoPlate"</a> Applications. To contact me for any purpose, <a class="text-decoration-none special-color" href="#contact">my contact information</a> are below. THANK YOU !.
                </h4>
                <div class="">
                <h1 class="text-center special-color p-5">Experience</h1>
                <ol class="cards-list">
                    <li style="--accent-color:#0ba6a1">
                        <div class="icon"><i class="fa-brands fa-python"></i></div>
                        <div class="title">Python</div>
                        <div class="descr">A programming language for various uses, and huge collection of libraries</div>
                    </li>
                    <li style="--accent-color:#530ba6">
                        <div class="icon"><i class="fa-brands fa-java"></i></div>
                        <div class="title">Java</div>
                        <div class="descr">A programming language with solid base and data structures, used for different purposes</div>
                    </li>
                    <li style="--accent-color:#a60b10">
                        <div class="icon"><i class="fa-brands fa-html5"></i></div>
                        <div class="title">HTML 5</div>
                        <div class="descr">Hypertext modeling language, used to structure a web page content</div>
                    </li>
                    <li style="--accent-color:#5da60b">
                        <div class="icon"><i class="fa-brands fa-css3"></i></div>
                        <div class="title">CSS 3</div>
                        <div class="descr">Cascading style sheets, combined with html to style the web page</div>
                    </li>
                    <li style="--accent-color:#0ba6a1">
                        <div class="icon"><i class="fa-brands fa-js"></i></div>
                        <div class="title">JavaScript</div>
                        <div class="descr">a programming language that cen be used for web development, or independently to build mobile application</div>
                    </li>
                    <li style="--accent-color:#530ba6">
                        <div class="icon"><i class="fa-brands fa-github"></i></div>
                        <div class="title">GitHub</div>
                        <div class="descr">Continuous integration and version control remote server, it also serves as a container to save your code and collaboration</div>
                    </li>
                    <li style="--accent-color:#a60b10">
                        <div class="icon"><i class="fa-brands fa-git"></i></div>
                        <div class="title">GIT</div>
                        <div class="descr">a local version control system to save the changes in the code repository</div>
                    </li>
                    
                </ol>
                </div>
            </div> <!-- End of about me -->
            <div id="skills" class="ps-5 ms-5 mt-5 pt-2">

                <div class="d-flex align-items-center">
                    <h2 class="light-special-color display-2 big-header">Technical Skills</h2>
                </div>

                <hr class="special-color2" style="width:460px">
                <div class="row row-cols-1 row-cols-sm-5 g-5">
                    {% for skill in skills %}

                    <div>
                        <p class="special-color2">{{skill.skill}}</p>
                        <div class="progress">
                            <div class="progress-bar special-bg-color" style="width:{{skill.progress}}%">{{skill.progress}}%</div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
            </div> <!-- End of about me -->

            <div id="tech-stack" class="ps-5 ms-5 pt-5 mt-5">
                <div class="d-flex align-items-center">
                    <h2 class="light-special-color display-2 big-header">Tech Stack</h2>
                </div>
                <hr class="special-color2" style="width:320px">
                <div class="tech-stack pt-3">
                    {% for tool in tools %}
                        <a href="https://www.{{tool.tool}}.com" class="badge" style="background-color:{{tool.preferred_color}};">
                            <h6 class="{% if tool.preferred_color == '#ffffff' %}special-color2{% endif %}">{{tool.tool}}</h6>
                        </a>
                    {% endfor %}
                </div>
            </div> <!-- End of tech stack div -->

            <div id="contact" class="ps-5 ms-5 pt-5 mt-5">


                <div class="w3-padding-64 w3-content w3-text-grey special-color2">
                    <h2 class="display-2 light-special-color big-header">Contact Me</h2>
                    <hr style="width:340px">

                    <div class="container">

                        <a class="text-decoration-none special-color2" href="https://github.com/HmzhDubh" target="_blank"><p><i class="fa fa-github fa-fw w3-text-white w3-xxlarge w3-margin-right special-color2"></i> Github: HmzhDubh</p></a>
                        <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +966 544581821</p>
                        <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: hamza.helal.d@gmail.com</p>
                        <a class="text-decoration-none special-color2" href="https://www.instagram.com/hhha.d" target="_blank"><p><i class="fa fa-instagram fa-fw w3-hover-opacity w3-text-white w3 w3-xxlarge w3-margin-right"></i> Instagram: @hhha.d</p></a>
                        <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Jeddah, Saudi Arabia</p>
                    </div><br>
                </div>
            </div> <!-- End of contact me -->

        </div>
        <div class="row p-5 m-5"></div>

</main>
{% endblock %}

