{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block additional_styles %}
    <style>
        .main-bg {
<!--            background-image: url('https://i.pinimg.com/564x/54/7a/e2/547ae28ddd5c2f343861baf7ded372bb.jpg');-->
            width: 100%;
            height: 700px;
<!--            background-repeat: no-repeat;-->
<!--            background-size: fit;-->

        }
    </style>
{% endblock %}
{% block main %}
<main>

    <div class="container-fluid justify-content-center main-bg text-light">
        <img src="https://i.pinimg.com/564x/54/7a/e2/547ae28ddd5c2f343861baf7ded372bb.jpg">
        <img src="https://i.pinimg.com/564x/54/7a/e2/547ae28ddd5c2f343861baf7ded372bb.jpg">

    </div>


</main>
{% endblock %}

