<header>
    <div class="sticky-top ">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center m-4 p-2">
                <div class="d-flex align-items-center ms-5 ps-5">
                    <a class="brand text-decoration-none align-items-center h1 special-color" href="/">HmzH</a>
                    <h6 class="ps-3 special-color">Photographer / Developer</h6>
                </div>

                <div class="d-flex align-items-center justify-content-center h5 special-color">
                    <nav class="navbar d-flex gap-3">
                        <a href="{% url 'projectsApp:projects_view' %}" class="nav-link {% if request.resolver_match.view_name == 'projectsApp:projects_view' %}active{% endif %}">Projects</a>
                        <a href="{% url 'galleryApp:photos_view' %}" class="nav-link {% if request.resolver_match.view_name == 'galleryApp:photos_view' %}active{% endif %}">Photo Gallery</a>
                        <a href="{% url 'main:expertise_view' %}" class="nav-link {% if request.resolver_match.view_name == 'main:expertise_view' %}active{% endif %}">Expertise</a>
                        <a href="{% url 'productsApp:products_view' %}" class="nav-link {% if request.resolver_match.view_name == 'productsApp:products_view' %}active{% endif %}">Products</a>
                    </nav>

                    <a href="{% url 'main:contact_view' %}" class="btn ms-4 special-color special-rounded-button">
                        Get In Touch Now <span class="get-started-arrow">↗</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>