{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block main %}
<main>
    <div class="container-fluid p-5 d-flex">
        <div class="nav-bar pe-5 border-end">
            <a class="nav-link" href="/">Projects</a>
            <a class="nav-link" href="/">Photos</a>
            <a class="nav-link" href="/">Messages</a>
        </div>
        <div class="container justify-content-end">

            <div class="container d-flex justify-content-between mb-5">
                <h3>Model name</h3>
                <button class="btn btn-success">Exit</button>
            </div>
            <div class="col dropdown text-end">
                <div class="d-flex justify-content-end p-1">
                    <form action="{% url 'dashboard:dashboard_view' %}" method="get" >
                        <div class="d-flex gap-1">
                            <select name="order_by" class="form-select d-flex bg-success text-light">
                                <option> Order By</option>
                                <option> Any</option>
                                <option value="newest" {% if request.GET.order_by == 'newest' %}selected{% endif %}> Newest </option>
                                <option value="oldest" {% if request.GET.order_by == 'oldest' %}selected{% endif %}> Oldest </option>
                            </select>



                            <select name="category" class="form-select d-flex bg-success text-light">
                                <option> Category</option>
                                <option> All</option>
                                <option value="tree" {% if request.GET.category == 'tree' %}selected{% endif %}> Tree </option>
                                <option value="fruit" {% if request.GET.category == 'fruit' %}selected{% endif %}> Fruit </option>
                                <option value="vegetable" {% if request.GET.category == 'vegetable' %}selected{% endif %}> Vegetable </option>
                                <option value="other" {% if request.GET.category == 'other' %}selected{% endif %}> Other </option>
                            </select>

                            <select name="is_edible" class="form-select d-flex bg-success text-light">
                                <option> Edibility </option>
                                <option> All </option>
                                <option value="edible" {% if request.GET.is_edible == 'edible' %}selected{% endif %}> Edible </option>
                                <option value="non-edible" {% if request.GET.is_edible == 'non-edible' %}selected{% endif %}> Non_Edible </option>
                            </select>

                            <input type="submit" class="btn btn-success" value="Apply">
                        </div>

                    </form>
                </div>
                <div class="container"></div>

            </div>
            <div class="container d-flex">
                <h5>items, headers</h5>
                <a href="{% url 'galleryApp:add_photo_view' %}" class="btn btn-success">Add</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}