{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block main %}
<main>
    <div class="container-fluid px-3 px-md-4 py-4">
        <!-- Header -->
        <div class="text-center mb-4">
            <h1 class="display-6 special-color">Dashboard</h1>
            <hr class="special-color2" style="width:15%;margin: 0 auto;">
        </div>

        <!-- Main Content -->
        <div class="row g-4">
            <!-- Sidebar -->
            <div class="col-12 col-md-3">
                <div class="nav-bar p-3 p-md-4 shadow rounded">
                    <form class="d-flex flex-md-column gap-2 justify-content-center flex-wrap" action="{% url 'dashboard:dashboard_view' %}" method="get">
                        <button type="submit" name='data' value="All" class="list-group-item btn special-color {% if request.GET.data == 'All' %} special-button {% else %}btn-light{% endif %}">All</button>
                        <button type="submit" name='data' value="Messages" class="list-group-item special-color btn {% if request.GET.data == 'Messages' %} special-button {% else %}btn-light{% endif %}">Messages</button>
                        <button type="submit" name='data' value="Requests" class="list-group-item special-color btn {% if request.GET.data == 'Requests' %} special-button {% else %}btn-light{% endif %}">Requests</button>
                        <button type="submit" name='data' value="Projects" class="list-group-item special-color btn {% if request.GET.data == 'Projects' %} special-button {% else %}btn-light{% endif %}">Projects</button>
                        <button type="submit" name='data' value="Products" class="list-group-item special-color btn {% if request.GET.data == 'Products' %} special-button {% else %}btn-light{% endif %}">Products</button>
                        <button type="submit" name='data' value="Photos" class="list-group-item btn special-color {% if request.GET.data == 'Photos' %} special-button {% else %}btn-light{% endif %}">Photos</button>

                        <button type="submit" name='data' value="Skills" class="list-group-item btn special-color {% if request.GET.data == 'Skills' %} special-button {% else %}btn-light{% endif %}">Skills</button>
                        <button type="submit" name='data' value="Tools" class="list-group-item btn special-color {% if request.GET.data == 'Tools' %} special-button {% else %}btn-light{% endif %}">Tools</button>
                    </form>
                </div>
            </div>

            <!-- Main Content Area -->
            <div class="col-12 col-md-9">
                <!-- Header Controls -->
                <div class="d-flex flex-wrap justify-content-between align-items-center mb-3 gap-2">
                    <h3 class="m-0">{{request.GET.data}} Model</h3>
                    <a href="{% url 'main:home_view' %}" class="btn special-color special-button">Exit</a>
                </div>

                <!-- Controls Section -->
                <div class="shadow rounded p-3 mb-3">
                    <div class="d-flex flex-wrap gap-2 justify-content-between align-items-center">
                        <!-- Add Button -->
                        {% if request.GET.data == 'Projects' or request.GET.data == 'Products' or request.GET.data == 'Photos'%}
                        <button class="btn special-button">
                            <a class="text-decoration-none special-color" href="{% if request.GET.data == 'Photos' %}{% url 'galleryApp:add_photo_view' %}{% elif request.GET.data == 'Projects' %}{% url 'projectsApp:add_project_view' %}{% elif request.GET.data == 'Products' %}{% url 'productsApp:add_product_view' %}{% endif %}">ADD</a>
                        </button>
                        {% endif %}

                        <!-- Filters -->
                        <div class="d-flex justify-content-end p-1"> <!-- Filtering/Categories Section -->

                            <div class="d-flex gap-1">
                                <!-- All models filtering  -->
                                {% if request.GET.data == 'All' or not 'data' in request.GET %}
                                <form class="d-flex" action="{% url 'dashboard:dashboard_view' %}" method="get" >
                                    <select name="order_by" class="form-select d-flex special-color special-button text-light">
                                        <option>Sort</option>
                                        <option value="newest" {% if request.GET.order_by == 'newest' %}selected{% endif %}> Newest </option>
                                        <option value="oldest" {% if request.GET.order_by == 'oldest' %}selected{% endif %}> Oldest </option>
                                    </select>
                                    <input type="submit" class="btn special-color special-button" value="Apply">
                                </form>

                                <!-- photos filtering -->
                                {% elif request.GET.data == 'Photos' %}
                                <form class="d-flex" action="{% url 'dashboard:dashboard_view' %}" method="get" >
                                    <input type="hidden" name='data' value="Photos">
                                    <select name="order_by" class="form-select d-flex special-color special-button text-light">
                                        <option> Order By</option>
                                        <option value="newest" {% if request.GET.order_by == 'newest' %}selected{% endif %}> Newest </option>
                                        <option value="oldest" {% if request.GET.order_by == 'oldest' %}selected{% endif %}> Oldest </option>
                                    </select>

                                    <select name="category" class="form-select d-flex special-color special-button text-light">
                                        <option value="all">Photo Category</option>
                                        {% for cat, label in photo_cats %}

                                        <option value="{{ cat }}">{{ label }}</option>

                                        {% endfor %}

                                    </select>
                                    <input type="submit" class="btn special-color special-button" value="Apply">
                                </form>

                                <!-- Projects Filtering -->
                                {% elif request.GET.data == 'Projects' %}
                                <form class="d-flex" action="{% url 'dashboard:dashboard_view' %}" method="get" >
                                    <input type="hidden" name='data' value="Projects">
                                    <select name="category" class="form-select d-flex special-color special-button text-light">
                                        <option value="all"> Project Type </option>
                                        {% for cat, label in project_cats %}

                                        <option value="{{ cat }}">{{ label }}</option>

                                        {% endfor %}
                                    </select>
                                    <input type="submit" class="btn special-color special-button" value="Apply">
                                </form>

                                <!-- Products Filtering -->
                                {% elif request.GET.data == 'Products' %}
                                <form class="d-flex" action="{% url 'dashboard:dashboard_view' %}" method="get" >
                                    <input type="hidden" name='data' value="Products">
                                    <select name="order_by" class="form-select d-flex special-color special-button text-light">
                                        <option>Sort</option>
                                        <option value="newest" {% if request.GET.order_by == 'newest' %}selected{% endif %}> Newest </option>
                                        <option value="oldest" {% if request.GET.order_by == 'oldest' %}selected{% endif %}> Oldest </option>
                                    </select>
                                    <select name="category" class="form-select d-flex special-color special-button text-light">
                                        <option value="all"> Product Type </option>
                                        {% for cat, label in product_cats %}

                                        <option value="{{ cat }}">{{ label }}</option>

                                        {% endfor %}
                                    </select>
                                    <input type="submit" class="btn special-color special-button" value="Apply">
                                </form>

                                <!-- Requests Filtering -->
                                {% elif request.GET.data == 'Requests' %}
                                <form class="d-flex" action="{% url 'dashboard:dashboard_view' %}" method="get" >
                                    <input type="hidden" name='data' value="Requests">
                                    <select name="order_by" class="form-select d-flex special-color special-button text-light">
                                        <option>Sort</option>
                                        <option value="newest" {% if request.GET.order_by == 'newest' %}selected{% endif %}> Newest </option>
                                        <option value="oldest" {% if request.GET.order_by == 'oldest' %}selected{% endif %}> Oldest </option>
                                    </select>
                                    <select name="category" class="form-select d-flex special-color special-button text-light">
                                        <option value="all"> Request Type </option>
                                        {% for cat, label in request_cats %}

                                        <option value="{{ cat }}">{{ label }}</option>

                                        {% endfor %}
                                    </select>
                                    <input type="submit" class="btn special-color special-button" value="Apply">
                                </form>

                                <!-- Massages Filtering -->
                                {% elif request.GET.data == 'Messages' %}
                                <form class="d-flex" action="{% url 'dashboard:dashboard_view' %}" method="get" >
                                    <input type="hidden" name='data' value="Messages">
                                    <select name="order_by" class="form-select d-flex special-color special-button text-light">
                                        <option> Order By</option>
                                        <option value="newest" {% if request.GET.order_by == 'newest' %}selected{% endif %}> Newest </option>
                                        <option value="oldest" {% if request.GET.order_by == 'oldest' %}selected{% endif %}> Oldest </option>
                                    </select>
                                    <select name="category" class="form-select d-flex special-color special-button text-light">
                                        <option> Category</option>

                                        <option value="viewed">Viewed</option>
                                        <option value="not_viewed">Not Viewed</option>

                                    </select>
                                    <input type="submit" class="btn special-color special-button" value="Apply">
                                </form>
                                {% elif request.GET.data == 'Skills' %}
                                <div class="dropdown ps-5 p-3">
                                    <button type="button"  class="btn special-color special-bg-color2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">Add New Skill</button>

                                    <form action="{% url 'main:add_skill_view' %}" method="post" class="dropdown-menu p-4">
                                        {% csrf_token %}
                                        <input type="hidden" name="data" value="Skills">
                                        <div class="mb-3">
                                            <label for="skill" class="form-label">Tool</label>
                                            <input type="text" class="form-control" name="skill" id="skill" placeholder="python">
                                        </div>
                                        <div class="mb-3">
                                            <label for="progress" class="form-label">Progress out of 100</label>
                                            <input type="number" class="form-control" name="progress" id="progress" max=100 placeholder="90">
                                        </div>

                                        <button type="submit" id="liveAlertBtn" class="btn special-color special-bg-color2">Add Tool</button>
                                        <!--                        <div id="liveAlertPlaceholder" class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 1080;"></div>-->
                                    </form>
                                </div>
                                {% elif request.GET.data == 'Tools' %}
                                <div class="dropdown ps-5 p-3">
                                    <button type="button" class="btn special-color special-bg-color2 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">Add New Tool</button>
                                    <form action="{% url 'main:add_tool_view' %}" method="post" class="dropdown-menu p-4">
                                        {% csrf_token %}
                                        <input type="hidden" name="data" value="Tools">
                                        <div class="mb-3">
                                            <label for="tool" class="form-label">Tool</label>
                                            <input type="text" class="form-control" name="tool" id="tool" placeholder="python">
                                        </div>
                                        <div class="mb-3">
                                            <label for="preferred_color" class="form-label">Color Code</label>
                                            <input type="color" class="form-control" name="preferred_color" id="preferred_color" placeholder="#fewe3d">
                                        </div>

                                        <button type="submit" class="btn special-color special-bg-color2">Add Tool</button>
                                    </form>
                                </div>
                                {% endif %}

                            </div>
                        </div> <!-- end of Categories/Filtering Section -->

                    </div>
                </div>

                <!-- Tables Section -->
                <div class="shadow rounded p-3">
                    <div class="table-responsive">

                        {% if messages %}
                        <h5 class="special-color">Messages</h5>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Sender</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Status</th>
                                    <th scope="col" class="pe-5">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                            {% for message in messages %}
                            <tr>
                                <th scope="row">{{message.id}}</th>
                                <td>{{message.first_name}} {{message.last_name}}</td>
                                <td>{{message.email}}</td>
                                <td>{{message.subject}}</td>
                                <td>{{message.created_at}}</td>
                                <td>{% if message.is_viewed %}Viewed{% else %}Not Viewed{% endif %}</td>
                                <td>
                                    <div class="d-flex gap-1 justify-content-end">
                                        <a href="{% url 'main:message_details_view' message.id %}" class="btn {% if message.is_viewed %}btn-success{% else %}btn-info{% endif %} btn-sm">
                                            <span class="material-symbols-outlined">visibility</span>
                                        </a>
                                        <a href="{% url 'main:delete_message_view' message.id %}" class="btn btn-danger btn-sm">
                                            <span class="material-symbols-outlined">delete</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}

                        {% if requests %}

                        <h5 class="special-color">Requests</h5>
                        <table class="table table-hover">
                            <thead>
                                <th scope="col">#</th>
                                <th scope="col">Client Name</th>
                                <th scope="col">Client Email</th>
                                <th scope="col">Product Type</th>
                                <th scope="col">quantity</th>
                                <th scope="col">Order Date</th>
                                <th scope="col" class="text-center pe-5">Actions</th>
                            </thead>
                            <tbody class="table-group-divider">
                            {% for request in requests %}
                            <tr>
                                <th scope="row">{{request.id}}</th>
                                <td>{{request.client_name}}</td>
                                <td> {{request.client_email}}</td>
                                <td> {{request.type}}</td>
                                <td> {{request.quantity}}</td>
                                <td>{{request.ordered_at}}</td>
                                <td class="text-end pe-1  gap-1">
                                    <a href="{% url 'productsApp:request_details_view' request.id %}" class="btn btn-success"><span class="material-symbols-outlined">visibility</span></a>
                                    <a href="{% url 'productsApp:delete_request_view' request.id %}" class="btn btn-danger "><span class="material-symbols-outlined">delete</span></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% endif %}

                        {% if projects %}

                        <h5 class="special-color">Projects</h5>
                        <table class="table table-hover">
                            <thead>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Type</th>
                            <th scope="col">Status</th>
                            <th scope="col" style="width: 30%;">Link</th>
                            <th scope="col" class="pe-5 text-center">Actions</th>


                            </thead>
                            <tbody class="table-group-divider">
                            {% for project in projects %}
                            <tr>
                                <th scope="row">{{project.id}}</th>
                                <td>{{project.title}}</td>
                                <td> {{project.type}}</td>
                                <td>{% if project.status %} Complete {% else %} In Progress {% endif %}</td>
                                <td>{{ project.link|truncatechars:25 }}</td>
                                <td class="text-end pe-1 gap-1">
                                    <a href="{% url 'projectsApp:project_details_view' project.id %}" class="btn btn-success"><span class="material-symbols-outlined">visibility</span></a>
                                    <a href="{% url 'projectsApp:update_project_view' project.id %}" class="btn btn-warning "><span class="material-symbols-outlined">edit</span></a>
                                    <a href="{% url 'projectsApp:delete_project_view' project.id %}" class="btn btn-danger "><span class="material-symbols-outlined">delete</span></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% endif %}

                        {% if products %}

                        <h5 class="special-color">Products</h5>
                        <table class="table table-hover">
                            <thead>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">type</th>
                            <th scope="col">quantity</th>
                            <th scope="col">Creation Date</th>
                            <th scope="col" class="pe-5 text-center">Actions</th>


                            </thead>
                            <tbody class="table-group-divider">
                            {% for product in products %}
                            <tr>
                                <th scope="row">{{product.id}}</th>
                                <td>{{product.title}}</td>
                                <td> {{product.type}}</td>
                                <td> {{product.quantity}}</td>
                                <td>{{product.created_at}}</td>
                                <td class="text-end pe-1 gap-1">
                                    <a href="{% url 'productsApp:product_details_view' product.id %}" class="btn btn-success"><span class="material-symbols-outlined">visibility</span></a>
                                    <a href="{% url 'productsApp:update_product_view' product.id %}" class="btn btn-warning "><span class="material-symbols-outlined">edit</span></a>
                                    <a href="{% url 'productsApp:delete_product_view' product.id %}" class="btn btn-danger "><span class="material-symbols-outlined">delete</span></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% endif %}

                        {% if photos %}

                        <h5 class="special-color">Photos</h5>
                        <table class="table table-hover">
                            <thead>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col" style="width:20%;">About</th>
                            <th scope="col">Category</th>
                            <th scope="col">Location</th>
                            <th scope="col">Date</th>
                            <th class="text-center"> Actions </th>
                            </thead>
                            <tbody class="table-group-divider">
                            {% for photo in photos %}
                            <tr>
                                <th scope="row">{{photo.id}}</th>
                                <td>{{photo.title}}</td>
                                <td>{{photo.about}}</td>
                                <td>{{photo.category}}</td>
                                <td>{{photo.photo_location}}</td>
                                <td>{{photo.captured_at}}</td>
                                <td class="text-end pe-1  gap-1">
                                    <a href="{% url 'galleryApp:photo_details_view' photo.id %}" class="btn btn-success"><span class="material-symbols-outlined">visibility</span></a>
                                    <a href="{% url 'galleryApp:update_photo_view' photo.id %}" class="btn btn-warning"><span class="material-symbols-outlined">edit</span></a>
                                    <a href="{% url 'galleryApp:delete_photo_view' photo.id %}" class="btn btn-danger"><span class="material-symbols-outlined">delete</span></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% endif %}

                        {% if skills %}

                        <h5 class="special-color">Skills</h5>
                        <table class="table table-hover">
                            <thead>
                            <th scope="col">#</th>
                            <th scope="col">Skill</th>
                            <th scope="col">Progress</th>
                            <th class="text-center"> Actions </th>
                            </thead>
                            <tbody class="table-group-divider">
                            {% for skill in skills %}
                            <tr>
                                <th scope="row">{{skill.id}}</th>
                                <td>{{skill.skill}}</td>
                                <td>{{skill.progress}}</td>
                                <td class="text-end pe-1  gap-1">

                                    <a href="{% url 'main:delete_skill_view' skill.id %}" class="btn btn-danger"><span class="material-symbols-outlined">delete</span></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% endif %}

                        {% if tools %}

                        <h5 class="special-color">Tools</h5>
                        <table class="table table-hover">
                            <thead>
                            <th scope="col">#</th>
                            <th scope="col">Tools</th>
                            <th scope="col">Site</th>
                            <th class="text-center"> Actions </th>
                            </thead>
                            <tbody class="table-group-divider">
                            {% for tool in tools %}
                            <tr>
                                <th scope="row">{{tool.id}}</th>
                                <td>{{tool.tool}}</td>
                                <td>{{tool.preferred_color}}</td>
                                <td class="text-end pe-1  gap-1">
                                    <a href="{% url 'main:delete_tool_view' tool.id %}" class="btn btn-danger"><span class="material-symbols-outlined">delete</span></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}