{% extends 'base.html' %}

{% block title %} Projects {% endblock %}

{% block main %}
<main>
    <h1 class="display-6 text-center special-color pt-5 mt-5">Projects</h1>
    <hr class="special-color2" style="width:15%;margin: 0 auto;">
    <div class="mt-5">
        <div class="row row-cols-1 row-cols-sm-3 g-5 ps-5 ms-5 pe-5 me-5">
<!--            <form>-->
<!--                <button type="submit">Order By</button>-->
<!--            </form>-->
        {% for project in projects %}
        <div class="col">
            <a href="{% url 'projectsApp:project_details_view' project.id %}" class="text-decoration-none ">
                <div class="card h-100 border border-0">
                    <img src="{{ project.image.url}}" class="card-img-top rounded" alt="..." style="height:14rem">
                    <div class="card-body">
                        <h5 class="card-title">{{project.title}}</h5>
                        <p class="card-text text-secondary">{{project.about}}</p>
                        <p class="card-text h5">{{project.type}}</p>
                        <p class="card-text h6">Status: {% if project.status %} Complete {% else %} In-Progress {% endif %}</p>
                        <p class="card-text h6">Link: {{ project.link }}</p>

                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    </div>
</main>
{% endblock %}