{% extends 'base.html' %}

{% block title %}New Request{% endblock %}

{% block main %}
<main>
    <h1 class="display-6 text-center special-color pt-2">Make a Request</h1>
    <hr class="special-color2" style="width:19%;margin: 0 auto;">
    <div class="container p-5">
        <div class="row row-cols-1 row-cols-md-2 g-5 h-100 justify-content-center">
            <div class="col special-color">

                <div class="shadow rounded p-5 special-color2 text-center">
                    <h4>Product Information: </h4><br>
                    <h2>{{product.type}}</h2>
                    <p>{{product.title}}</p>
                    <p>{{product.description}}</p>

                </div>
                <div class="shadow rounded p-5">
                <h4 class="text-center">Complete Your Information</h4>
                <form action="{% url 'productsApp:create_request_view' product.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="title" value="{{product.title}}">
                    <input type="hidden" name="description" value="{{product.description}}">
                    <input type="hidden" name="type" value="{{product.type}}">
                    <div class="col">
                        <div class="col">
                            <div class="form-outline pt-4">
                                <label class="form-label" for="name">Full Name</label>
                                <input type="text" id="name" name="client_name" class="form-control" placeholder="hmzh helal" required/>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline pt-4">
                                <label class="form-label" for="email">Email</label>
                                <input type="email" id="email" name="client_email" class="form-control" placeholder="examble@gmail.com" required/>
                            </div>
                        </div>

                        <div class="quantity text-center p-4">
                            <label class="form-label pe-2" for="quantity">Quantity</label>
                            <input id="quantity" type="number" class="border-0 shadow rounded" max="{{product.quantity}}" name="quantity">
                        </div>
                        <div class="quantity text-center p-4 align-items-center justify-content-center">
                            <label class="form-label pe-2" for="note">Note</label>
                            <textarea id="note" class="border-0 shadow rounded" name="client_note"></textarea>
                        </div>
                    </div>

                    <div class="col d-grid">
                        <button type="submit" class="btn special-bg-color special-color2 btn-block p-2 mb-4" >Make Request</button>
                    </div>

                </form>
                </div>
            </div>

        </div>
    </div>
</main>
{% endblock %}