{% extends 'base.html' %}
{% load static %}
{% block title %}Gallery{% endblock %}
{% block additional_styles %}
    <style>
        .row{
            padding-right: 0;
            padding-left: 0;
        }
    </style>
{% endblock %}
{% block main %}
<main>
    <h1 class="display-6 text-center special-color pt-5 mt-5">Photos</h1>
    <hr class="special-color2" style="width:15%;margin: 0 auto;">
    <div class="mt-5">
        <div class="row row-cols-1 row-cols-5 justify-content-center">

            {% for photo in photos %}
                <div class="row">
                    <a href="{% url 'galleryApp:photo_details_view' photo.id %}"><img src="{{photo.url.url}}" style="width:100%;"></a>
                </div>
            {% endfor %}

        </div>
    </div>
</main>
{% endblock %}