{% extends 'base.html' %}
{% block title %}Gallery{% endblock %}
{% block main %}
<main>
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-2">
            <div class="row image-fluid">
                <img src="https://i.pinimg.com/564x/54/7a/e2/547ae28ddd5c2f343861baf7ded372bb.jpg" style="width:100%;">
            </div>
            <div class="row">
                <div class="card border-0">
                    <h1>ddddddddddddddddddddddd</h1>
                    <h1>ddddddddddddddddddddddd</h1>
                    <h1>ddddddddddddddddddddddd</h1>
                    <h1>ddddddddddddddddddddddd</h1>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}